.avatar {
    border-radius: 50%;
}
.label {
    font-weight: bolder;
}
.profile {
    padding: 10px;
}
.card {
    margin-left: 5px;
    background-color: lightcyan;
}
.info {
    padding: 10px;
}
.selected {
    background-color: lightyellow;
}

